{{define "title"}}{{.Data.site.Name}}{{end}}

{{define "main"}}
<h2>{{.Data.site.Name}}</h2>
<div class="flex items-center mb-1">
  <form action="/sites/{{.Data.site.ID}}/delete" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

    <button
      type="submit"
      class="button"
      data-confirm="Are you sure you want to delete this site?"
    >Delete</button>
  </form>
</div>

<div class="row">
  <div class="col-2 number-stat card">
    <div class="label">Total Events</div>
    <div class="value">{{.Data.site.EventCount}}</div>
  </div>
  <div class="col-2 number-stat card">
    <div class="label">Today's Events</div>
    <div class="value">{{.Data.eventsToday}}</div>
  </div>
</div>

<div class="row mt-1">
  <div class="col-8">
    <div class="card">
      <canvas id="event-chart" data-chart-type="line" data-chart-label="Events" data-chart-data="{{.Data.chartData}}"></canvas>

      <div class="row mt-3">
        <div class="col-6">
          <h3 class="text-center">Browsers</h3>
          <canvas id="browser-chart" data-chart-type="doughnut" data-chart-label="Browsers" data-chart-data="{{.Data.metricsData.browser}}"></canvas>
        </div>
        <div class="col-6">
          <h3 class="text-center">Devices</h3>
          <canvas id="device-type-chart" data-chart-type="doughnut" data-chart-label="Devices" data-chart-data="{{.Data.metricsData.deviceType}}"></canvas>
        </div>
        <div class="col-6">
          <h3 class="text-center">Operating Systems</h3>
          <canvas id="os-chart" data-chart-type="doughnut" data-chart-label="Operating Systems" data-chart-data="{{.Data.metricsData.os}}"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="details-table">
        <div class="row">
          <div class="label">Created</div>
          <div class="value">{{.Data.site.CreatedAt | humanDatetime $.CurrentUser.Timezone}}</div>
        </div>
        <div class="row">
          <div class="label">Token</div>
          <div class="value">
            <div class="inline-code">
              <pre><code id="site-token">{{.Data.site.Token}}</code></pre>
              <button class="copy-btn" data-copy-target="#site-token">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 copy">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 copied">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
